.navbar {
  background: #222;
  color: white;
  padding: 15px;
  font-size: 24px;
}

.page {
  padding: 20px;
}

.company-list,
.tech-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.company-item,
.tech-item {
  border: 1px solid #ccc;
  padding: 10px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  transition: 0.3s;
}

.company-item:hover,
.tech-item:hover {
  background: #f3f3f3;
}
